@import "tailwindcss";

:root {
  --primary-color: #00D4FF;
  --secondary-color: #090979;
  --background-start: #0a0a0a;
  --background-mid: #1a1a2e;
  --background-end: #16213e;

  --text-color : #d2cfcf;

  --react-color: #00D8FF;
  --laravel-color: #FF2D20;
  --codeigniter-color: #DD4814;
  --wordpress-color: #0073AA;
  --figma-color: #00D8FF;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background: linear-gradient(135deg, 
    var(--background-start) 0%, 
    var(--background-mid) 50%, 
    var(--background-end) 100%
  );
  min-height: 100vh;
  font-family: var(--font-geist-sans), sans-serif;
}

.figma-bg {
  background: linear-gradient(
    135deg,
    rgba(242, 78, 30, 0.15) 0%,
    rgba(255, 114, 98, 0.15) 30%,
    rgba(162, 89, 255, 0.15) 55%,
    rgba(26, 188, 254, 0.15) 80%,
    rgba(10, 207, 131, 0.15) 100%
  );
}
 
